<div class="metrics">
    ${METRIC_CARDS}
</div>
<div class="list">
    ${MOMENTUM}
</div>
<div class="list">
    ${TIER_SUMMARY}
</div>
<div class="list">
    ${QUALITY_GAP}
</div>
<div class="list">
    ${CLUSTER_INSIGHTS}
</div>
<div class="list">
    ${TOP_GENRES}
</div>
<div class="list">
    ${PLATFORM_SHARES}
</div>
<div class="list">
    ${REGION_PREFERENCES}
</div>
<div class="list">
    ${PUBLISHER_MOAT}
</div>
<div class="list">
    ${ML_INSIGHTS}
</div>
<div class="list">
    ${ML_SEGMENTS}
</div>
<div class="list">
    ${ML_BEHAVIOR}
</div>
<div class="list">
    ${ML_FEATURES}
</div>
<div class="list">
    ${ML_SIMILARITY}
</div>